:root {
    --light-clr: #fff;
    --light-clr-2: #BED2C9;
    --light-clr-3: #E1E7DD;
    --dark-clr: #2e2e2e;
    --body-font-clr: #bdbdbd;
    --body-bg-clr: #222222;
    --title-font: 'Bebas Neue', cursive;
    --body-font: 'Poppins', sans-serif;
}