@use '../abstracts'as *;

.container {
    margin-inline: auto;
    padding-inline: 1.8rem;

    @include breakpoint(small) {
        max-width: 33em;
    }

    @include breakpoint(medium) {
        max-width: 48em;
    }

    @include breakpoint(large) {
        max-width: 75em;
    }
}