@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");
:root {
  --light-clr: #fff;
  --light-clr-2: #BED2C9;
  --light-clr-3: #E1E7DD;
  --dark-clr: #2e2e2e;
  --body-font-clr: #bdbdbd;
  --body-bg-clr: #222222;
  --title-font: "Bebas Neue", cursive;
  --body-font: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: var(--body-bg-clr);
  color: var(--body-font-clr);
}
@media (min-width: 48em) {
  body {
    font-size: 1.6rem;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
  background-color: transparent;
  border: none;
}

main {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--light-clr-2);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.title {
  font-family: var(--title-font);
  color: var(--light-clr-3);
  letter-spacing: 1px;
  font-size: 3.6rem;
}
.title--main {
  font-size: clamp(4.2rem, 8vw, 10rem);
  line-height: 1.2;
  background: url("/assets/images/showcase_image_lg.png") center 37% no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 10;
}
@media (min-width: 64em) {
  .title--main {
    background-position: center 48%;
  }
}

.container {
  margin-inline: auto;
  padding-inline: 1.8rem;
}
@media (min-width: 31.25em) {
  .container {
    max-width: 33em;
  }
}
@media (min-width: 48em) {
  .container {
    max-width: 48em;
  }
}
@media (min-width: 64em) {
  .container {
    max-width: 75em;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  transition: opacity 0.25s;
}
.btn:is(:hover, :focus) {
  opacity: 0.8;
}
.btn--action {
  font-size: 1.8rem;
  color: var(--light-clr);
  line-height: 0;
}
.btn--green {
  background-color: var(--light-clr-2);
  color: var(--dark-clr);
}
.btn--text {
  font-family: var(--title-font);
  letter-spacing: 1px;
  font-size: 2rem;
  padding: 1rem 3rem;
}
.btn--transparent {
  color: var(--light-clr-2);
  border-bottom: 2px solid var(--light-clr-2);
  padding: 0;
}

.section-metadata {
  padding-bottom: 6rem;
  text-align: center;
}
.section-metadata__description {
  margin-top: 1.3rem;
}
@media (min-width: 48em) {
  .section-metadata {
    grid-column: 1/-1;
  }
  .section-metadata__description {
    max-width: 70rem;
    margin-inline: auto;
  }
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: var(--body-bg-clr);
  transition: padding 0.25s;
}
.header.active {
  padding-top: 1rem;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  margin-right: 2.5rem;
}
.navbar__logo-image {
  min-width: 10.2rem;
}
.navbar__menu {
  background-color: var(--dark-clr);
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 100vh;
  transform: translateX(-26rem);
  z-index: 999;
  transition: transform 0.5s ease-in;
}
.navbar__menu.active {
  transform: translateX(0);
}
.navbar__list {
  display: flex;
  flex-direction: column;
}
.navbar__list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar__list-link {
  display: block;
  color: var(--light-clr);
  padding: 1rem;
  transition: opacity 0.25s;
}
.navbar__list-link:is(:hover, :focus) {
  opacity: 0.5;
}
.navbar__btn-group {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
@media (min-width: 48em) {
  .navbar #menu-toggler {
    display: none;
  }
  .navbar__menu {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    transform: initial;
    transition: none;
  }
  .navbar__list {
    flex-direction: row;
    gap: 1rem;
  }
  .navbar__list-item {
    border-bottom: none;
  }
}

.showcase {
  padding-top: 14.5rem;
}
.showcase__container {
  text-align: center;
}
.showcase__image {
  display: inline-block;
  transform: translateY(-3rem);
}
@media (min-width: 48em) {
  .showcase__image {
    transform: translateY(-5rem);
  }
}
@media (min-width: 64em) {
  .showcase__image {
    transform: translateY(-8rem);
  }
}

.portfolio {
  padding-top: 7.4rem;
  padding-bottom: 12rem;
}
.portfolio__metadata {
  padding-bottom: 4rem;
  text-align: left;
}

.swiper {
  width: 100%;
}
.swiper .swiper-slide {
  width: 30rem;
  height: 30rem;
}
.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-pagination-bullet {
  background-color: var(--light-clr-2);
}

.services {
  background-color: var(--dark-clr);
  padding-block: 7.4rem;
}
.services__container {
  display: grid;
}
.services__image-wrapper {
  margin-bottom: 6rem;
}
.services__image-wrapper img {
  margin-inline: auto;
}
.services__list, .services__list-divider {
  display: grid;
  gap: 5rem;
}
.services__list-icon {
  display: inline-block;
  font-size: 3.6rem;
  line-height: 3rem;
  color: var(--light-clr-3);
  margin-bottom: 3rem;
}
.services__list-title {
  margin-bottom: 1rem;
}
@media (min-width: 48em) {
  .services__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
  .services__image-wrapper {
    margin-bottom: 0;
  }
  .services__image-wrapper img {
    margin-inline: 0;
  }
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__list-item {
    align-self: center;
  }
}
@media (min-width: 64em) {
  .services__container {
    grid-template-columns: 1fr 1.5fr;
  }
}

.about {
  padding-top: 12rem;
  padding-bottom: 6rem;
}
.about__container {
  display: grid;
  gap: 8rem;
}
.about__information-title {
  margin-bottom: 2rem;
}
.about__information-description:first-of-type {
  margin-bottom: 1.5rem;
}
.about__information-description:last-of-type {
  margin-bottom: 4rem;
}
.about__images {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-inline: auto;
}
.about__images-image {
  position: relative;
}
.about__images-image--top {
  grid-column: 4/-1;
  grid-row: 1/span 4;
}
.about__images-image--bottom {
  grid-column: 1/7;
  grid-row: 3/span 5;
  z-index: 5;
}
@media (min-width: 48em) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}

.blog {
  padding-top: 4rem;
  padding-bottom: 12rem;
}
.blog__container {
  display: grid;
}
.blog__metadata-description {
  margin-bottom: 4rem;
}
.blog__post:first-of-type {
  margin-bottom: 6rem;
}
.blog__post-image {
  margin-bottom: 3rem;
}
.blog__post-image img {
  margin-inline: auto;
}
.blog__post-title {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
@media (min-width: 48em) {
  .blog__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
  .blog__post:first-of-type {
    margin-bottom: 0;
  }
}

.footer {
  background-color: var(--dark-clr);
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.footer__group {
  text-align: center;
}
.footer__title {
  margin-bottom: 3rem;
}
.footer__separator {
  display: block;
  height: 1px;
  background-color: var(--light-clr);
  margin-top: 10rem;
  margin-bottom: 8rem;
}
.footer__logo {
  display: inline-block;
}
.footer__description {
  margin-block: 3rem;
}
.footer__list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.footer__list-link {
  color: var(--light-clr-2);
  font-size: 1.8rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s;
}
.footer__list-link:is(:hover, :focus) {
  background-color: var(--light-clr-2);
  color: var(--dark-clr);
}
.footer__copyright {
  display: inline-block;
  margin-top: 5rem;
}
@media (min-width: 48em) {
  .footer__description {
    max-width: 50rem;
    margin-inline: auto;
  }
}/*# sourceMappingURL=styles.css.map */